.intro__title {
    margin: 0;
    font-size: 54px;
    line-height: 57px;
    text-rendering: optimizeLegibility;
    font-family: Inter;
    font-weight: normal;
    padding-bottom: 45px;
}
@media screen and (max-width: 767px) {
    .intro__title {
        font-size: 32px;
        line-height: 35px;
        font-weight: 900;
        padding-bottom: 32px;
    }
}