@import url("../footer/__link/footer__link.css");
@import url("../footer/__copyright/footer__copyright.css");
@import url("../footer/__links/footer__links.css");
.footer {
    width: 92.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@media screen and (max-width: 767px) {
    .footer {
        flex-direction: column;
    }
}